@include mixins.themify(colors.$themes) {
  body,
  header,
  main,
  footer {
    background: mixins.themed("primary");
  }

  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: mixins.themed("text");

    &::selection {
      color: mixins.themed("text");
      background-color: mixins.themed("surface");
    }

    &::-moz-selection {
      color: red;
      background-color: blue;
    }
  }

  p {
    color: mixins.themed("text-secondary");
  }

  svg,
  .icon {
    color: mixins.themed("text-secondary");

    &:hover {
      color: mixins.themed("text");
    }
  }

  a {
    color: mixins.themed("text");

    &:hover {
      color: mixins.themed("text-hover");

      svg {
        transition: 0.1s all cubic-bezier(0.23, 1, 0.32, 1);
        color: mixins.themed("text-secondary");

        &:hover {
          color: mixins.themed("text");
        }
      }

      button {
        background-color: mixins.themed("secondary");
        color: mixins.themed("text");
      }
    }

    .hidden {
      display: block;

      @include mixins.breakpoint(md) {
        display: none;
      }
    }
  }
}
