@import "~/assets/scss/colors";
@import "~/assets/scss/mixins";

@include themify($themes) {

  body,
  header,
  main,
  footer {
    background: themed("primary");
  }

  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: themed("text");

    &::selection {
      color: themed('text');
      background-color: themed('surface');
    }

    &::-moz-selection {
      color: red;
      background-color: blue;
    }
  }

  p {
    color: themed("text-secondary");
  }

  svg {
    color: themed("text-secondary");

    &:hover {
      color: themed("text");
    }
  }

  a {
    color: themed('text');

    &:hover {
      color: themed("text-hover");

      svg {
        transition: 0.1s all cubic-bezier(0.23, 1, 0.320, 1);
        color: themed("text-secondary");

        &:hover {
          color: themed("text");
        }
      }

      button {
        background-color: themed("secondary");
        color: themed("text");
      }
    }

    .hidden {
      display: block;

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}
