.headingContainer {
  width: 100%;

  > * {
    width: 85%;
    margin: 0 auto;
  }
}

.title {
  font-size: 1.6rem;
  line-height: 2.25rem;
  margin: 0 auto;
  font-family: "Paytone One";

  @include mixins.breakpoint(md) {
    margin: 0;
  }
}

.subtitle {
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: capitalize;

  @include mixins.breakpoint(md) {
    margin: 0;
  }
}

.headerContentContainer {
  margin: 4rem auto;

  @include mixins.breakpoint(md) {
    display: flex;
    max-width: 90%;
    margin: 4rem auto;
  }
}

.nav {
  display: none;

  @include mixins.breakpoint(md) {
    display: block;
  }
}

.navButton {
  width: 85%;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  gap: 1rem;

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  li {
    list-style: none;
  }

  @include mixins.breakpoint(md) {
    margin: 0;
  }
}

@include mixins.themify(colors.$themes) {
  .custom-select {
    color: mixins.themed("text");
  }
}

.custom-select {
  padding: 8px;
  font-size: 16px;
  font-family: "Inter";
  background-color: transparent;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.custom-select:hover {
  border-color: #888;
}

.custom-select:focus {
  border-color: #3498db;
  outline: none;
}

.custom-select option:disabled {
  color: #ccc;
}

.hidden {
  @include mixins.breakpoint(md) {
    display: none;
  }
}

.header {
  @include mixins.breakpoint(md) {
    position: sticky;
    top: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 0;
    max-height: 400px;
  }
}

.main {
  @include mixins.breakpoint(md) {
    width: 85%;
  }
}
