.container {
  padding: 1rem;
  transition: 0.2s all ease;
  cursor: pointer;
  margin: 1rem 0 1rem -1rem;

  &:first-child {
    margin-top: 0.25rem;
    padding-top: 0.25rem;
  }
}

.year {
  font-size: 0.75rem;
}

.desc {
  font-size: 0.875rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.tagContainer {
  display: flex;
  margin: 0.5rem 0;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.4rem;
}

@include mixins.themify(colors.$themes) {
  .cardTitle {
    color: mixins.themed("text");
  }

  .container {
    &:hover {
      background-color: mixins.themed("surface");
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.titleFlex {
  display: flex;
  justify-content: space-between;
}
