$primary-color: #d2d2d2;
$secondary-color: #322332;
$accent-color: #435434;
$text-color: #000000;

// dark
$primary-dark: #0f0d0e;
$secondary-dark: #1b191a;
$text-dark: #f9f4da;
$text-secondary-dark: #b4af9d;
$surface-dark: #231f20;

// white
$primary-white: #f7f7f7;
$secondary-white: #ffffff;
$text-white: #231f20;
$text-secondary-white: #615f60;
$surface-white: #8c8b8b;


$themes: (
  dark: (primary: $primary-dark,
    secondary: $secondary-dark,
    text: $text-dark,
    text-secondary: $text-secondary-dark,
    surface: $surface-dark),
  light: (primary: $primary-white,
    secondary: $secondary-white,
    text: $text-white,
    text-secondary: $text-secondary-white,
    surface: $surface-white),
);
