@import "~/assets/scss/colors";
@import "~/assets/scss/mixins";

@include themify($themes) {

  body,
  header,
  main,
  footer {
    background: themed("primary");
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: themed("text");
  }

  svg,
  p {
    color: themed("text-secondary");
  }

  a {
    color: themed('text');

    &:hover {
      color: themed("text-hover");
    }
  }


  svg {
    color: themed("text");
  }

  button {
    background-color: themed("secondary");
    color: themed("text");
  }
}
