@import "~/assets/scss/colors";
@import "~/assets/scss/mixins";

.headingContainer {
  width: 100%;

  >* {
    width: 85%;
    margin: 0 auto;
  }
}

.title {
  font-size: 1.6rem;
  line-height: 2.25rem;
  margin: 0 auto;
  font-family: 'Paytone One';
}

.subtitle {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.headerContentContainer {
  margin: 4rem auto;

  @include breakpoint(md) {
    display: flex;
    max-width: 85vw;
    margin: 4rem auto;
  }
}

.nav {
  display: none;
}

.navButton {
  width: 85%;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  gap: 1rem;


  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  li {
    list-style: none;
  }
}

@include themify($themes) {
  .custom-select {
    color: themed('text');
  }
}


.custom-select {
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.custom-select:hover {
  border-color: #888;
}

.custom-select:focus {
  border-color: #3498db;
  outline: none;
}

/* Optional: Disable arrow for disabled options */
.custom-select option:disabled {
  color: #ccc;
}


/* .header { */
/*   width: 60%; */
/*   max-width: 80%; */
/* } */
/**/
/* .main { */
/*   width: 50%; */
/* } */
